body {
  font-family: 'VT323', monospace;
  font-size: 2em;

  text-align: center;
  margin-top: 10%;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#start-overlay {
  display: flex;
  /* horizontal align */
  justify-content: center;

  /* vertical align */
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.overlay-content {
  z-index: 2;
  color: white;
}

.button {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.button:hover {
  cursor: pointer;
}

#game {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper {
  width: 20%;
  height: 100px;
  position: relative;
  perspective: 600px;
  margin: 0 10px 10px 0;
}

.card-wrapper:hover {
  cursor: pointer;
}

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.back {
  transform: rotateY(180deg);
}

.bold {
  font-weight: bold;
  color: white;
}

#restart {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}

#end-screen {
  display: none;

  /* horizontal align */
  justify-content: center;

  /* vertical align */
  align-items: center;
  
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;
  height: 100vh;
  width: 100vw;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}